<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul> <font face="Palatino" size="4">
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="/yenancv_03252019.pdf">CV</a></li>
	        		 </font>
	    		</ul>
			</nav>
			<div class="container">



			{{ content }}

			</div><!-- /.container -->

		</body>
	</html>
