<!DOCTYPE html>
	<html>

		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body background-color="#EDDFDB">
			<header role="banner" id="top">
			<div id="header-text">
				<font face="Arial, sans-serif" size="5"><b>Yenan Sun</b> <font face="STFangsong">(孫葉楠)</font>  </font> <br>
			</div>

			<nav>
	    		<ul> <font face="Arial, sans-serif" size="3">
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/pub">Research</a></li>
							<li><a href="/tea">Teaching</a></li>
	        		<li><a href="/syn_cv.pdf">CV</a></li>
	        		 </font>

	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
		</body>



	</html>
